* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form {
  width: 600px;
  margin-top: 60px;
  padding: 30px 30px;

  border-radius: 30px;

  background-color: whitesmoke;
}

.user-form h1 {
  margin-bottom: 20px;
  text-align: center;
}

#alerts-section {
  position: absolute;
  top: 5px;
}

.alert {
  width: 50vw;
  min-width: fit-content;
  margin-bottom: 5px;
  padding: 10px 0;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  margin: 10px;
}
